html {
    height: 100%;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--primary);
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: var(--dark-primary);
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    max-width: 180px;
    text-transform: uppercase;
}

.btn:hover {
    color: #FFFFFF;
    background-color: var(--primary);
}

.item {
    margin: 0 15px;
}

.item a {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.item a:hover {
    border-bottom-style: dashed;
}

.sub-title {
    color: var(--third);
    font-size: 16px;
    font-weight: 700;
}
